# EditorConfig is awesome: http://EditorConfig.org

# unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 space identation
[*]
indent_style = space
indent_size = 4

# Trim trailing whitespace
[*]
trim_trailing_whitespace = true

# Don't trim whitespace for Markdown
[*.md]
trim_trailing_whitespace = false

